.root {
  padding: 128px;
}

.container {
  position: relative;
  height: 256px;
}

.cell {
  border-radius: 4px;
  display: flex;
  font-size: 12px;
  font-family: 'SF Mono';
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.argument {
  color: #29a7c3;
}

.indexArgument {
  color: #29a7c3;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: 'SF Mono';
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: 'SF Mono';
}

.smallText {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-family: 'SF Mono';
  color: #808080;
}

.length {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  border: 1px solid #29a7c380;
  border-width: 1px 1px 0;
}
